<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task List</title>
    <link rel="stylesheet" href="/static/styles.css">

</head>
<body>
<h1>Task List</h1>
<div id="taskModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <div id="taskDetails">
        </div>
    </div>
</div>

<div class="task-table-container">
    <div class="task-search-container">
        <form id="searchForm">
            <label for="taskId">Search:</label>
            <input type="text" id="taskId" name="id" placeholder="Enter task ID" oninput="toggleSearchButton()">
            <button id="searchButton" type="submit" disabled>Search</button>
        </form>
</div>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Description</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="task : ${page.content}">
        <td th:text="${task.id}"></td>
        <td>
            <span th:id="'descriptionText_' + ${task.id}" th:text="${task.description}"></span>
            <input th:id="'descriptionInput_' + ${task.id}" th:value="${task.description}" type="text"
                   style="display: none;">
        </td>
        <td>
            <span th:id="'statusText_' + ${task.id}" th:text="${task.status}"></span>
            <select th:id="'status_' + ${task.id}" style="display: none;">
                <option value="TODO">TODO</option>
                <option value="IN_PROGRESS">IN PROGRESS</option>
                <option value="PAUSED">PAUSED</option>
                <option value="DONE">DONE</option>
            </select>
        </td>
        <td>
            <button th:id="'edit_' + ${task.id}" th:onclick="'editTask(' + ${task.id} + ')'">Edit</button>
            <button th:id="'delete_' + ${task.id}" th:onclick="'deleteTask(' + ${task.id} + ')'"
                    class="delete-btn">
                Delete
            </button>
        </td>
    </tr>
    </tbody>
</table>

<div th:if="${page.totalPages > 1}">
    <ul class="pagination">
        <li th:if="${page.number > 0}">
            <a th:href="@{/(pageNo=0)}">&laquo;</a>
        </li>
        <li th:each="i : ${#numbers.sequence(0, page.totalPages - 1)}" th:class="${page.number == i}? 'active'">
            <a th:href="@{/(pageNo=${i})}" th:text="${i + 1}"></a>
        </li>
        <li th:if="${page.number + 1 < page.totalPages}">
            <a th:href="@{/(pageNo=${page.totalPages - 1})}">&raquo;</a>
        </li>
    </ul>
</div>
</div>
<div class="task-form-container">
    <h2>Add new task</h2>
    <form id="createTaskForm" th:action="@{/}" method="post">
        <input type="text" name="description" placeholder="Description">
        <select name="status">
            <option value="TODO">TODO</option>
            <option value="IN_PROGRESS">IN PROGRESS</option>
            <option value="PAUSED">PAUSED</option>
            <option value="DONE">DONE</option>
        </select>
        <button type="submit">Create</button>
    </form>
</div>
<script src="/static/script.js"></script>
</body>
</html>
